html,body {
    /*font: 12px "PingHei", Helvetica, Arial, "Microsoft jhengHei", sans-serif;*/
    font: 13px '微软雅黑',Helvetica, Arial,  'Hiragino Sans GB', 'Hiragino Sans GB W3', STXihei, STHeiti, Heiti, SimSun, sans-serif;
    color:#404040;
    background-color:#ffffff;
    font-weight:lighter;
}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
form,fieldset,legend,select,
input,textarea,button,
table,caption,tr,th,td {
    margin:0;
    padding:0;
}
ol,ul {
    list-style:none;
}
fieldset,img {
    border:0 none;
}
img {
    max-width: 100%;
}
div{
    box-sizing: border-box;
}
a{
    text-decoration:none;
    color: #777777;
    transition: color 0.15s ease 0s;
}
a:hover{
    text-decoration:none;
    color: #444444;
}
input,button,textarea,select,option {
    font-family:inherit;
    font-size:100%;
    outline: 0;
}
textarea {
    overflow: auto;
    resize: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hidden {
    display: none!important;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.w7{
    font-family: "ZongYiW7";
}
/*-----------------------------------------------------common page----------------------------------------------------*/
.main {
    padding-top:20px;
    padding-bottom:50px;
}
.full-screen{
    height:100%;
}
.show-brand{
    box-sizing: inherit;
}
.main .common-wrapper{
    width: 950px;
    margin: 0 auto;
    /*min-height: 300px;*/
}
.main .common-banner{
    height: 50px;
    min-width: 950px;
}
.main .common-banner .banner-wrapper{
    width: 950px;
    margin: 0 auto;
}
.main .common-banner .banner-wrapper h1{
    line-height: 50px;
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    color: #333333;
}
a.btn{
    display: inline-block;
    padding:0 20px;
    height: 33px;
    line-height: 33px;
    width: auto;
    text-align: center;
    cursor: pointer;
    /*font-family: "ZongYiW7";*/
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: bold;
}
a.btn:hover,
a.btn:focus{
    color: #ffffff;
}
a.btn--green{
    color: #ffffff;
    background-color: #08c;
}
a.btn--green:hover,
a.btn--green:focus{

}
.promotion-item a.btn--green{
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-weight: normal;
}
.promotion-item a.btn--green:hover,
.promotion-item a.btn--green:focus{
    background: #ffffff;
    color: #333333;
}
a.btn--red{
    color: #ffffff;
    background-color: #eb4747;
}
a.btn--red:hover,
a.btn--red:focus{
    color: #ffffff;
}
.common-pagination{
    width: 100%;
    padding:20px 0 50px 0;
    text-align: center;
    height: 130px;
}
.common-pagination a,
.common-pagination span{
    height: 30px;
    width: 30px;
    display: inline-block;
    box-sizing: border-box;
    border:1px #dedede solid;
    margin:0 5px;
    line-height: 28px;
    text-align: center;
    color: #aaaaaa;
    background: #ffffff;
}
.common-pagination a:hover,
.common-pagination a:focus,
.common-pagination span:hover,
.common-pagination span:focus,
.common-pagination span{
    background: #f8f8f8;
}
.common-pagination span.current{
    background: #f8f8f8;
}
.common-pagination a.next {
    text-indent: -9999px;
    background:#fff url(../img/core-sprite.png) no-repeat -139px 9px;

}
.common-pagination a.prev {
    text-indent: -9999px;
    background:#fff url(../img/core-sprite.png) no-repeat -93px 9px;
}
/*-----------------------------------------------------index page-----------------------------------------------------*/
.index-page{
    height: auto;
}
.index-page .slide-wrapper{
    height: 300px;
    text-align: center;
    /*background: #e8e8e8;*/
    width: 100%;
    min-width: 900px;
    /*max-width: 1920px;*/
    position: relative;
}
.index-page .slide-wrapper .slides_container{
    margin: 0 auto;
    max-width: 1000px;
    height: 0;
    position: relative;
}
.index-page .slide-wrapper .slide-item {
    /*max-width: 1280px;*/
    max-width: 1000px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1000px auto;
    position: relative;
    display: none;
}
.index-page .slide-wrapper .slide-item .slide-content {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: transparent;
    color: #ffffff;
}
.index-page .slide-wrapper .slide-item .slide-content p {
    padding: 20px 0;
    font-size: 14px;
    line-height: 20px;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-left{
    left: 0;
    text-align: left;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-center{
    padding-top: 40px;
    text-align: center;
    width: 100%;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-right{
    right: 0;
    text-align: right;
}
.index-page .slide-wrapper .slide-item .slide-content .title{
    position: absolute;
    bottom: 50px;
    max-height: 100px;
    max-width: 600px;
    background: rgba(50, 50, 50, 0.5);
    padding: 10px 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px #000000;
}
.index-page .slide-wrapper .slide-item .slide-content .description{
    line-height: 24px;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-left .title {
    padding-top: 80px;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-left .description{
    padding: 20px 0;
    font-size: 14px;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-center .title {
    padding-top: 0;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-center .description{
    padding: 20px 0;
    font-size: 14px;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-right .title {
    padding-top: 80px;
}
.index-page .slide-wrapper .slide-item .slide-content .pos-right .description{
    padding: 20px 0;
    font-size: 14px;
}
.index-page .slide-wrapper ul.pagination{
    position: absolute;
    bottom: 20px;
    width: 900px;
    height: 10px;
    margin-left: -450px;
    left: 50%;
    text-align: center;
    z-index: 100;
}
.index-page .slide-wrapper ul.pagination li{
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: rgba(200,200,200,0.3);
}
.index-page .slide-wrapper ul.pagination li:hover{
    background: rgba(200,200,200,0.3);
}
.index-page .slide-wrapper ul.pagination li.current{
    background: rgba(200,200,200,1);
}
.index-page .slide-wrapper ul.pagination li a{
    text-indent: -9999px;
    display: block;
    height: 10px;
    width: 10px;
}
.index-page .banner-wrapper{
    /*height: 600px;*/
    text-align: center;
    background: #222 url(../img/microtile.png) repeat top left;
    width: 100%;
    min-width: 950px;
    /*max-width: 1920px;*/
    top:0;
    bottom: 0;
    position: absolute;
}
.index-page .banner-wrapper .slides_container{
    margin: 0 auto;
    width: 100%;
    height: 0;
}
.index-page .banner-wrapper .banner-item {
    max-width: 1920px;
    min-width: 950px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: 100% 600px;*/
    /*position: relative;*/
    height: 100%;
    min-height: 740px;
    /*display: none;*/
}
.index-page .banner-wrapper .banner-item .slide-content {
    position: relative;
    width: 950px;
    height: 600px;
    margin: 0 auto;
    background: transparent;
    color: #ffffff;
}
.index-page .banner-wrapper .banner-item .slide-content p {
    padding: 20px 0;
    font-size: 14px;
    line-height: 20px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-left{
    width: 50%;
    text-align: left;
    padding-top: 80px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-center{
    padding-top: 40px;
    text-align: center;
    width: 100%;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-right{
    width: 50%;
    text-align: right;
    padding-top: 80px;
    float: right;
}
.index-page .banner-wrapper .banner-item .slide-content .title{
    font-size: 24px;
    line-height: 36px;
}
.index-page .banner-wrapper .banner-item .slide-content .description{
    line-height: 24px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-left .title {
    padding-top: 80px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-left .description{
    padding: 20px 0;
    font-size: 14px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-center .title {
    padding-top: 0;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-center .description{
    padding: 20px 0;
    font-size: 14px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-right .title {
    padding-top: 80px;
}
.index-page .banner-wrapper .banner-item .slide-content .pos-right .description{
    padding: 20px 0;
    font-size: 14px;
}
.index-page .banner-wrapper ul.pagination{
    position: absolute;
    bottom: 20px;
    width: 950px;
    height: 10px;
    margin-left: -450px;
    left: 50%;
    text-align: center;
    z-index: 100;
}
.index-page .banner-wrapper ul.pagination li{
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: rgba(255,255,255,0.6);
}
.index-page .banner-wrapper ul.pagination li:hover{
    background: rgba(255,255,255,0.6);
}
.index-page .banner-wrapper ul.pagination li.current{
    background: rgba(255,255,255,1);
}
.index-page .banner-wrapper ul.pagination li a{
    text-indent: -9999px;
    display: block;
    height: 10px;
    width: 10px;
}

.index-page .section{
    height: 290px;
    padding:35px 0;
}
.index-page .section .section__experience,
.index-page .section .section__pre-order{
    width: 310px;
    position: relative;
    float: left;
    height: 220px;
}
.index-page .section .section__experience img,
.index-page .section .section__pre-order img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.index-page .section .section__experience h3,
.index-page .section .section__pre-order h3{
    width: 290px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding-top:10px;
    font-weight: lighter;
}
.index-page .section .section__news{
    width: 280px;
    float: left;
}
.index-page .section .section__news-header{
    height: 25px;
}
.index-page .section .section__news-header span{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.index-page .section .section__news-header a{
    float: right;
    color: #333333;
}
.index-page .section .section__news-list{
    width: 280px;
    float: left;
}
.index-page .section .section__news-list li {
    padding-left: 24px;
    height: 25px;
    line-height: 25px;
    margin:0;
    background: transparent url(../img/core-sprite.png) no-repeat -194px 10px;
}
.index-page .section .section__news-list li a:hover{
    text-decoration: underline;
    color: #333333;
}
.index-page-title{
    color: #333333;
    font-size: 18px;
    width: 1000px;
    /*margin: 50px auto 30px auto;*/
    /*padding: 0 5px;*/
    clear: both;
    margin-top: 20px;
    line-height: 47px;
    padding-left: 58px;
    /*background: url(/Public/static/img/index-icons.png) no-repeat;*/
    /*background-position: 0 128px;*/

}
.user-comment-cell{
    width: 25%; float: left; text-align: center;
}
.user-comment-cell img{
    height: 60px; width: 165px; border:5px solid #ffffff;
    /*-webkit-filter: grayscale(1);*//* Webkit */
    filter:gray;/* IE6-9 */
    filter: grayscale(1);/* W3C */
}
.index-page-news{
    padding: 20px 0;overflow: hidden;
    color: #777777;
    width: 1000px;
    margin: 0 auto;
}
.index-page-news .column{
    width: 330px;float: left;
    min-height: 230px;
    max-height: 332px;
    overflow: hidden;
    /*margin-right: 40px;*/
}
.index-page-news .column .link-more{
    float: right; font-size: 12px;
    /*line-height: 30px;*/
}
.index-page-news .column.col-span-2{
    width: 600px;float: left;
    margin-right: 70px;
}
.index-page-news .column .index-page-title{
    font-size: 18px;
    width: auto;
}
.index-page-news .column table{
    width:100%;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed; margin-top: 15px;
}
.index-page-news .column table td{
    vertical-align: text-top;
    padding: 5px 0;
    border-bottom: 1px solid #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
}
.index-page-news .column table td:last-child{
    text-align: right;
    font-size: 13px;
}
.index-page-news .column table td a{
    color: #555555;
    cursor: pointer;
}
 table td .line-tag{
    display: inline-block; height: 5px; width: 5px;margin: 0 7px 2px 0; background: #c1c1c1;
}


/*-----------------------------------------------------news page------------------------------------------------------*/
.news-page .common-banner{
    background: #f8f8f8;
}
.news-page .news-list{
    padding:40px 0;
}
.news-page .news-list__item{
    line-height: 24px;
    padding:20px 0;
    border-bottom:1px solid #eee;
}
.news-page .news-list__item:nth-last-of-type(1) {
    border-bottom:none;
}
.news-page .news-list__item .news-item__title{
    font-size:16px;
    color: #000;
    display: inline-block;
}
.news-page .news-list__item .news-item__title:hover{
    text-decoration: underline;
}
.news-page .news-list__item .date{
    font-size:12px;
    display: block;
}
.news-page .news-list__item .news-item__brief{
    color:#777;
}
.news-page .news-list__item .news-item__brief a{
    color: #08c;
}
.news-page .news-list__item .news-item__brief a:hover{
    text-decoration: underline;
}
.news-detail-page{
    overflow: hidden;
}
.news-detail-page .common-banner{
    background: #f8f8f8;
}
.news-detail-page .news-detail-content{
    width: 950px;
    /*width: 640px;*/
    float: left;
    overflow: hidden;
    margin:40px auto;
}
.news-detail-page .news-detail-content > h1{
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 5px;
}
.news-detail-page .news-detail-content .date{
    font-size: 12px;
    color: #999;
}
.news-detail-page .news-detail-content .content{
    margin-top: 20px;
    line-height: 24px;
    font-size: 13px;
    color: #999;
}
.news-detail-page .news-relation{
    width: 240px;
    float: left;
    padding:40px 0 0 20px;
}
.news-detail-page .news-relation .title{
    font-size: 18px;
    line-height: 36px;
    font-weight: normal;
    margin-bottom: 5px;
}
.news-detail-page .news-relation ul{
    margin-top: 20px;
    line-height: 24px;
}
.news-detail-page .news-relation ul li{
    line-height: 24px;
    padding-left: 24px;
    background: transparent url(../img/core-sprite.png) no-repeat -194px 10px;
}
.news-detail-page .news-relation ul li a:hover{
    text-decoration: underline;
    color: #000;
}
.news-detail-page .news-detail-more{
    clear: both;
    padding-right: 260px;
}
.news-detail-page .news-detail-more a{
    display: inline-block;
    margin:20px 0;
}
.news-detail-page .news-detail-more a:last-child{
    float: right;
}

/*-----------------------------------------------------sub page-----------------------------------------------------*/

.sub-page table{
    width:100%;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed; margin-top: 20px;
}
.sub-page table td{
    vertical-align: text-top;
    padding: 5px 0;
    border-bottom: 1px solid #f0f0f0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sub-page table td:last-child{
    text-align: right;
    font-size: 13px;
}
.sub-page table td a{
    color: #555555;
    cursor: pointer;
}

.aboutus-list{
    float: left;
    width: 200px;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #dddddd;
    position: relative;
    margin-top: 30px;
}
.aboutus-list li{
    border-bottom:1px solid #dddddd;
}
.aboutus-list li:last-child{
    border-bottom:none;
}
.aboutus-list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.aboutus-list li a.current{
    background-color: #f1f1f1;
    color: #444444;
}
/*----------------------------------brand page----------------------------*/
.brand-table tr:first-child{
    border-top: none;
}

.brand-table tr{
    vertical-align: top;
    display: block;
    border-top: 1px solid #ddd;
    padding: 25px;
}

.brand-table td{
    color: #4c4c4c; line-height: 28px; font-size: 16px; font-weight: 100;
}
.brand-table td div{
     margin-top: 10px;
}

.img-container{
    position: relative;
    float: left;
    margin-right: 10px;
}

.img-container:hover .zoom{
    display: block;
}

.img-container .zoom {
    position: absolute;
    top: -220px;
    left:0px;
    display: none;
    background-color: #ffffff;
    z-index: 9999;
    height: 200px;
    width: 200px;
}

.img-container .zoom img {
    height: 200px;
    width: 200px;
    box-shadow: 0 9px 20px 1px #aaaaaa;
    border: 5px solid #ffffff;
}

@keyframes index_button_hover
{
    from {background: transparent; color:#333}
    to {background: rgba(255,255,255,0.5); color:#000;}
}

/*----------------------------people page----------------------------*/
.people-cell {
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 263px;
    overflow: hidden;
}
.sub-page .people-cell:hover{
    cursor: pointer;
    box-shadow: 0 1px 3px #777777;
}
.people-image{
    background:transparent no-repeat;
    height: 160px;
    width: 130px;
    background-size: 100% auto;
    background-position:top center;
    /* border-radius: 100px; */
    overflow: hidden;
    margin: auto;
    box-shadow: 0 0 1px #777777;
    border: 3px solid #ffffff;
}
.people-cell .name{
    font-size: 20px;
    padding: 18px 0 5px 0;
}
.people-cell .job{
}
.people-cell .description{
    margin-top: 100px;
}

.people-detail-container .panel{
    position: relative;
    margin:0 auto;
    width: 680px;
    height: 263px;
    background: #ffffff;
    /*box-shadow: 3px 5px 20px #777777;*/
    border-radius: 5px;
}
.people-detail-container .panel .description-cell{
    float: left;
    width: 75%;
    padding: 20px 20px 20px 0;
    text-align: justify;
}

.people-detail-container .cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.02);
    top: 0;
    left: 0;
}

.people-detail-container .btn-close{
    height: 30px;
    width: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    box-shadow: 0 1px 3px #777777;
    border-radius: 30px;
    background: url(/Public/static/img/close.png) no-repeat #ffffff;
    background-size: contain;
    cursor: pointer;
}
.filter-drop-shadow {
    -webkit-filter: drop-shadow(10px 20px 20px #777777);
    -moz-filter: drop-shadow(10px 20px 20px #777777);
    -o-filter: drop-shadow(10px 20px 20px #777777);
    filter: drop-shadow(10px 20px 20px #777777);
}
