<extend name="Base/common"/>


<block name="body">
    <div class="main store-page">
        <div class="common-banner">
            <div class="banner-wrapper">
                <h1>联系我们</h1>
            </div>
        </div>
        <div class=" common-wrapper">
            <volist name="lists" id="data">
                <div class="store-list__item">
                    <div class="store-item__info">
                        <h3 class="store-item__name">{$data.name}</h3>
                        <p class="store-item__address">地址：{$data.address}</p>
                        <p class="store-item__phone">电话：{$data.phone}</p>
                    </div>
                    <div class="store-item__map">{$data.map}</div>
                    <div class="clearfix"></div>
                </div>
            </volist>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('#header-nav-store').addClass('current');
        });
    </script>
</block>