<extend name="Base/common"/>

<block name="body">

    <div id="index-main" class="main index-page show-brand" style="position: relative;">
        <div class="slide-wrapper" id="slides">
            <div class="slides_container">
                <think:datalist name="slide" result="slide" limit="5" order="level DESC,id DESC">
                    <div class="slide-item" style="background-image: url({$slide.image|get_cover='path'})">
                        <a class="slide-content" style="display: block;" href="{$slide.link}">
                            <div class="title {$slide['position']=='left'?'pos-left':'pos-right'}">
                                {$slide.title}
                            </div>
                        </a>
                    </div>
                </think:datalist>
            </div>
        </div>


        <div style="width: 1000px; margin: 0 auto;">
            <div class="index-page-news">
                <div class="column col-span-2">
                    <div class="index-page-title" style="background: url(/Public/static/img/index-icons.png) no-repeat; background-position: 0 0; background-size: 46px auto;">
                        中心动态
                        <a class="link-more" href="{:U('/Content/sub?Id=310&cateId=300')}">更多中心动态</a>
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th style="width: 80px;"></th>
                        </tr>
                        <volist name="centerNewsList" id="report">
                            <tr>
                                <td>
                                    <div class="line-tag"></div>
                                    <a href="{:U('/Content/content?Id='.$report['id'].'&cateId='.$report['category_id'])}">{$report.title}</a>
                                </td>
                                <td>{$report.create_time|date='Y-m-d',###}</td>
                            </tr>
                        </volist>
                    </table>
                </div>
                <div class="column">
                    <div class="index-page-title" style="background: url(/Public/static/img/index-icons.png) no-repeat; background-position: 0 -47px; background-size: 46px auto;">
                        通知公告
                        <a class="link-more" href="{:U('/Content/sub?Id=110&cateId=300')}">更多通知公告</a>
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th style="width: 80px;"></th>
                        </tr>
                        <volist name="announcementList" id="mn">
                            <tr>
                                <td>
                                    <div class="line-tag"></div>
                                    <a href="{:U('/Content/content?Id='.$mn['id'].'&cateId='.$mn['category_id'])}">{$mn.title}</a>
                                </td>
                                <td>{$mn.create_time|date='Y-m-d',###}</td>
                            </tr>
                        </volist>
                    </table>
                </div>
                <div class="column col-span-2">
                    <div class="index-page-title" style="background: url(/Public/static/img/index-icons.png) no-repeat; background-position: 0 -94px; background-size: 46px auto;">
                        行业资讯
                        <a class="link-more" href="{:U('/Content/sub?Id=320&cateId=300')}">更多行业资讯</a>
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th style="width: 80px;"></th>
                        </tr>
                        <volist name="fieldNewsList" id="rn">
                            <tr>
                                <td>
                                    <div class="line-tag"></div>
                                    <a href="{:U('/Content/content?Id='.$report['id'].'&cateId='.$report['category_id'])}">{$rn.title}</a>
                                </td>
                                <td>{$rn.create_time|date='Y-m-d',###}</td>
                            </tr>
                        </volist>

                    </table>
                </div>
                <div class="column">
                    <div class="index-page-title" style="background: url(/Public/static/img/index-icons.png) no-repeat; background-position: 0 -141px; background-size: 46px auto;">
                        中心简介
                        <a class="link-more" href="{:U('/Content/content?Id=4&cateId=200')}">查看详情</a>
                    </div>
                    <div style="text-align: justify;padding-top: 20px;">
                        {$introContent}
                    </div>
                </div>
                <div class="column col-span-2">
                    <div class="index-page-title" style="background: url(/Public/static/img/index-icons.png) no-repeat; background-position: 0 -188px; background-size: 46px auto;">
                        科研成果
                        <a class="link-more" href="{:U('/Content/sub?Id=410&cateId=400')}">更多创新研究</a>
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th style="width: 80px;"></th>
                        </tr>
                        <volist name="achievementList" id="rn">
                            <tr>
                                <td>
                                    <div class="line-tag"></div>
                                    <a href="{:U('/Content/content?Id='.$rn['id'].'&cateId='.$rn['category_id'])}">{$rn.title}</a>
                                </td>
                                <td>{$rn.create_time|date='Y-m-d',###}</td>
                            </tr>
                        </volist>

                    </table>
                </div>
                <div class="column">
                    <div class="index-page-title" style="background: url(/Public/static/img/index-icons.png) no-repeat; background-position: 0 -235px; background-size: 46px auto;">
                        友情链接
                        <!--<a class="link-more" href="{:U('/Home/news/news?typeId=0')}">更多友情链接</a>-->
                    </div>
                    <table>
                        <tr>
                            <th></th>
                            <th style="width: 80px;"></th>
                        </tr>
                        <volist name="partnerList" id="pl">
                            <tr>
                                <td colspan="2" style="text-align: left;">
                                    <div class="line-tag"></div>
                                    <a target="view_window" href="{$pl.link}">{$pl.name}</a>
                                </td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>

        </div>
    </div>

</block>

<block name="script">
    <script type="text/javascript">
        $(function () {
            $('#slides').slides({
//                preload: true,
//                preloadImage: '/img/loading.gif',

                hoverPause: true,
                play: 3000,
                pause: 2000,
                pagination: {
                    active: true,
                    effect: "slide"
                },
                slidesLoaded: function () {
                    $('.slides_container').css({height: '300px'});
                    $(".slides_control").css({width: "100%", height: "300px"});
                }
            });
            $('#header-nav-index').addClass('current');
        });
    </script>
</block>
