<extend name="Base/common"/>


<block name="body">
    <div class="main store-page">


        <div class="common-wrapper" style="overflow: hidden;">
            <ul class="aboutus-list">
                <volist name="clists" id="cData">
                    <li><a class="{$cateId==$cData['id']?'current':''}" href="{:U('/Content/sub?Id='.$cData['id'].'&cateId='.$cData['pid'])}"
                           id="{$cData.id}">{$cData.title}</a></li>
                </volist>
                <volist name="dlists" id="dData">
                    <li><a class="{$content['id']==$dData['id']?'current':''}" href="{:U('/Content/content?Id='.$dData['id'].'&cateId='.$dData['category_id'])}"
                           id="{$dData.id}">{$dData.title}</a></li>
                </volist>
            </ul>
            <div style="width: 740px; float: right; padding: 30px;">
                <div class="common-banner">
                    <div class="banner-wrapper">
                        <h1>{$title}</h1>
                    </div>
                </div>
                <div style="min-height: 300px;margin-top: 20px;color: #555555;">
                    {$content.content}
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('#header-nav-aboutus').addClass('current');
        });
    </script>
</block>