<extend name="Base/common"/>


<block name="body">
    <div class="main store-page">


        <div class="common-wrapper" style="overflow: hidden;">
            <ul class="aboutus-list">
                <volist name="clists" id="cData">
                    <li><a class="{$cateId==$cData['id']?'current':''}" href="{:U('/Content/sub?Id='.$cData['id'].'&cateId='.$cData['pid'])}"
                           id="{$cData.id}">{$cData.title}</a></li>
                </volist>
                <volist name="plists" id="pData">
                    <li><a class="{$cateId==$pData['id']?'current':''}" href="{:U('/Content/peoplelist?Id='.$pData['id'].'&cateId='.$pData['pid'])}"
                           id="{$pData.id}">{$pData.title}</a></li>
                </volist>
                <volist name="dlists" id="dData">
                    <li><a class="{$content['id']==$dData['id']?'current':''}" href="{:U('/Content/content?Id='.$dData['id'].'&cateId='.$dData['category_id'])}"
                           id="{$dData.id}">{$dData.title}</a></li>
                </volist>
            </ul>
            <div style="width: 740px; float: right; padding: 30px;">
                <div class="common-banner">
                    <div class="banner-wrapper">
                        <h1>{$title}</h1>
                    </div>
                </div>
                <div class="sub-page" style="min-height: 300px; margin-top: 20px;color: #555555;">
                    <table>
                        <tr>
                            <th></th>
                        </tr>
                        <volist name="content" id="pl" key="k">
                            <tr>
                                <td style="text-align: left; height: 40px;">
                                    <h3>{$key}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="position: relative; text-align: left; border: none;">
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>

                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;"><br></td>
                            </tr>
                        </volist>
                        <volist name="content" id="pl" key="k">
                            <tr>
                                <td style="text-align: left; height: 40px;">
                                    <h3>{$key}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="position: relative; text-align: left; border: none;">
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                        </div>
                                    </volist>

                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;"><br></td>
                            </tr>
                        </volist>

                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('#header-nav-aboutus').addClass('current');
        });
    </script>
</block>