<extend name="Base/common"/>


<block name="body">
    <div class="main store-page">
        <div class="common-wrapper" style="overflow: hidden;">
            <ul class="aboutus-list">
                <volist name="clists" id="cData">
                    <li><a class="{$cateId==$cData['id']?'current':''}" href="{:U('/Content/sub?Id='.$cData['id'].'&cateId='.$cData['pid'])}"
                           id="{$cData.id}">{$cData.title}</a></li>
                </volist>
                <volist name="plists" id="pData">
                    <li><a class="{$cateId==$pData['id']?'current':''}" href="{:U('/Content/peopleList?Id='.$pData['id'].'&cateId='.$pData['pid'])}"
                           id="{$pData.id}">{$pData.title}</a></li>
                </volist>
                <volist name="dlists" id="dData">
                    <li><a class="{$content['id']==$dData['id']?'current':''}" href="{:U('/Content/content?Id='.$dData['id'].'&cateId='.$dData['category_id'])}"
                           id="{$dData.id}">{$dData.title}</a></li>
                </volist>
            </ul>
            <div style="width: 740px; float: right; padding: 30px;">
                <div class="common-banner">
                    <div class="banner-wrapper">
                        <h1>{$title}</h1>
                    </div>
                </div>
                <div class="sub-page" style="min-height: 300px; margin-top: 20px;color: #555555;">
                    <table>
                        <tr>
                            <th></th>
                        </tr>
                        <volist name="content" id="pl" key="k">
                            <tr>
                                <td style="text-align: left; height: 40px;">
                                    <h3>{$key}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="position: relative; text-align: left; border: none; overflow: visible;">
                                    <volist name="pl" id="people">
                                        <div class="people-cell">
                                            <div class="people-image" style="background-image: url({$people.image|get_cover='path'})"></div>
                                            <div class="name">{$people['name']}</div>
                                            <div class="job">{$people['job']}</div>
                                            <div class="description" hidden>{$people['description']}</div>
                                        </div>
                                    </volist>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;"><br></td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="people-detail-container" hidden>
        <div class="cover"></div>
        <div style="position: fixed;left:0;top:200px;width: 100%;">
            <div class="panel filter-drop-shadow">
                <div class="people-cell">
                    <div class="people-image"></div>
                    <div class="name"></div>
                    <div class="job"></div>
                </div>
                <div class="description-cell">
                    <h2 style="color: #333333;margin-bottom: 10px;">个人简介</h2>
                    <div class="description" style="color: #777777;">
                    </div>
                </div>
                <div class="btn-close"></div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('#header-nav-aboutus').addClass('current');

            $('.people-cell').click(function(){
                showPeople(this);
            });

            $('.people-detail-container .btn-close').click(function(){
                hidePeople();
            });

            function showPeople(peopleCell){
                $('.people-detail-container').show();
//                var panel = $('.people-detail-container .panel');
//                panel.css({'margin-top':getAbsoluteTop(peopleCell)-50});
                $('.people-detail-container .people-cell .name').html($(peopleCell).find('.name').html());
                $('.people-detail-container .people-cell .job').html($(peopleCell).find('.job').html());
                $('.people-detail-container .description').html($(peopleCell).find('.description').html());
                $('.people-detail-container .people-cell .people-image').css ('background-image',$(peopleCell).find('.people-image').css('background-image'));
            }
            function hidePeople(){
                $('.people-detail-container').hide();
                $('.people-detail-container .people-cell .name').html('');
                $('.people-detail-container .people-cell .job').html('');
                $('.people-detail-container .description').html('');
                $('.people-detail-container .people-cell .people-image').css ('background-image','none');
            }

            //获取控件上绝对位置
            function getAbsoluteTop(object) {
                o = object;
                oTop = o.offsetTop;
                while(o.offsetParent!=null)
                {
                    oParent = o.offsetParent;
                    oTop += oParent.offsetTop;  // Add parent top position
                    o = oParent;
                }
                return oTop;
            }
        });
    </script>
</block>