<extend name="Base/common"/>


<block name="body">
    <div class="main store-page">


        <div class="common-wrapper" style="overflow: hidden;">
            <ul class="aboutus-list">
                <volist name="lists" id="data">
                    <li><a class="{$cateId==$data['id']?'current':''}" href="{:U('/Content/sub?Id='.$data['id'])}"
                           id="{$data.id}">{$data.title}</a></li>
                </volist>
            </ul>
            <div style="width: 740px; float: right; padding: 30px;">
                <div class="common-banner">
                    <div class="banner-wrapper">
                        <h1>{$title}</h1>
                    </div>
                </div>
                <div class="sub-page" style="min-height: 300px;">
                    <table>
                        <tr>
                            <th></th>
                            <th style="width: 80px;"></th>
                        </tr>
                        <volist name="content" id="pl">
                            <tr>
                                <td colspan="2" style="text-align: left;">
                                    <div class="line-tag"></div>
                                    <a href="{:U('/Content/content?Id='.$pl['id'].'&subId='.$cateId)}">{$pl.title}</a>
                                </td>
                                <td style="text-align: right;font-size: 13px;">{$pl.create_time|date='Y-m-d',###}</td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function(){
            $('#header-nav-aboutus').addClass('current');
        });
    </script>
</block>