<extend name="Base/common"/>


<block name="body">
    <div class="news-page main">
        <div class="common-banner">
            <div class="banner-wrapper">
                <h1>媒体报道列表</h1>
            </div>
        </div>
        <div class="common-wrapper" style="overflow: hidden;">
            <ul class="aboutus-list">
                <li><a class="current" href="/News/reports.html'">媒体报道</a></li>
                <li><a href="{:U('/Home/news/news?typeId=0')}">智能开关资讯</a></li>
                <li><a href="{:U('/Home/news/news?typeId=1')}">智能插座资讯</a></li>
            </ul>
            <div class="news-list"style="float: left; width: 740px;padding: 10px 40px;">
                <volist name="reports" id="data">
                    <div class="news-list__item">
                        <a class="news-item__title" href="{$data['link']}">{$data.title}</a>
                        <span class="date">发表于 {$data.time}</span>
                        <p class="news-item__brief"><a href="{$data['link']}">查看全文</a></p>
                    </div>
                </volist>
            </div>
            <!--<div class="common-pagination">-->
                <!--<article:page cate="$category['id']" listrow="$category['list_row']" />-->
            <!--</div>-->
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            var page = $('.common-pagination');
            if(page.find('a').size() <= 0){
                page.removeClass('common-pagination');
            }
        });
    </script>
</block>
