<extend name="Base/common"/>

<block name="body">
    <div class="review-detail-page main">
        <div class="common-banner">
            <div class="banner-wrapper">
                <h1>评测详情</h1>
            </div>
        </div>
        <div class="common-wrapper">
            <div class="review-detail-content">
                <h1>{$review.title}</h1>
                <div class="date">{$review.time|date='Y-m-d H:i:s',###}</div>
                <div class="content">
                    {$review.content}
                </div>
            </div>
        </div>
    </div>
</block>
