<extend name="Base/common"/>

<block name="body">
    <div class="main review-page">
        <div class="common-banner">
            <div class="banner-wrapper">
                <h1>评测</h1>
            </div>
        </div>
        <div class="common-wrapper">
            <div class="review-top">
                <php>$index = 1;</php>
                <volist name="recommends" id="data">
                    <div class="top-item item-{$index}">
                        <img src="{$data.image|get_cover='path'}" />
                        <div class="top-item__title ellipsis"><a href="{:U('Review/detail?id='.$data['id'])}">{$data.title}</a></div>
                    </div>
                    <php>$index++;</php>
                </volist>
            </div>
            <div class="review" id="review-items">
                <volist name="reviews" id="data">
                    <div class="review-item">
                        <img src="{$data.image|get_cover='path'}" />
                        <div class="review-item__content">
                            <a class="item-content__title" href="{:U('Review/detail?id='.$data['id'])}">{$data.title}</a>
                            <div class="item-content__date">{$data.time|date='Y-m-d H:i:s',###}</div>
                            <div class="item-content__description">{$data.description}</div>
                        </div>
                    </div>
                </volist>
                <div>
                    <if condition="$pages != ''">
                        <div class="common-pagination">
                            {$pages}
                        </div>
                    </if>
                </div>
            </div>
            <div class="review-type">
                <div class="review-type_title">分类</div>
                <ul>
                    <volist name="types" id="data">
                    <li><a href="{:U('type?id='.$data['id'])}">{$data.name}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            $('.common-pagination').find('a').each(function(){
                var href = $(this).attr('href')+'#review-items';
                $(this).attr('href',href);
            });
        });
    </script>
</block>
